#contact_modal {
    display: none;
}

#main {
    display: flex;
    flex-wrap: wrap;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.no-scroll {
    overflow: hidden;
}

#photographerHeader {
    width: 100%;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
    width: 100%;
}

.photograph-header .portrait {
    width: 30%;
}

.photograph-header .portrait img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 65%;
    object-fit: cover;
}

.photograph-header .presentation {
    width: 30%;
}

.photograph-header .presentation h2 {
    color: #D3573C;
    font-size: 36px;
    margin: 0;
}

h3 {
    color: #D3573C;
    font-size: 18px;
    font-weight: 100;
    margin: 0;
}

.photograph-header .portrait p {
    margin: 0.5em 0 0 0;
    font-size: 14px;
    color: black;
}

.picturesSection .afficherMedias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
}

.picturesSection .afficherMedias article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 33%;
}

.picturesSection .afficherMedias article img,
.picturesSection .afficherMedias article video {
    width: 30rem;
    height: 30rem;
    margin: auto;
    object-fit: cover;
    object-position: top;
}


.picturesSection .afficherMedias article section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20%;
}

.picturesSection .afficherMedias article section p {
    font-weight: bold;
    color: #D3573C;
}

.picturesSection form {
    display: flex;
    flex-direction: row;
    height: 10rem;
    align-items: center;
    margin-left: 5%;
}

.picturesSection form label {
    margin-right: 3%;
    font-weight: bold;
    font-size: 26px;
}

.picturesSection form select option {
    border-bottom: 1px solid #FAFAFA;
    height: 2rem;

}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: absolute;
    top: 25rem;
    left: 23%;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    height: 15rem;
    border: none;
    border-radius: 5px;
}

form .erreur {
    color: #901C1C;
    font-size: 25px;
    margin-top: 0.5rem;
}

.encart {
    position: fixed;
    bottom: 0;
    right: 2%;
    width: 15%;
    height: 3.5rem;
    background-color: #DB8876;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 1%;
    justify-content: space-between;
    padding-right: 1%;

}

.likes {
    width: 50%;
    font-size: 24px;
}

.textEncart {
    padding: 0 1%;
    font-weight: bold;
}

#price {
    font-weight: bold;
    font-size: 24px;
}

.lightbox__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 50px;
    width: 90%;
    margin: auto;
    right: 0%;
}

.lightbox__container .slide {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.lightbox__container div img,
.lightbox__container div video {
    max-width: 100%;
    height: 95vh;
}



.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    z-index: 10;
    overflow: auto;
    width: 90%;
    margin: auto;
    right: 0%;
}


.lightbox__next,
.lightbox__prev {
    width: 16px;
    height: 28px;
    color: #901C1C;
    position: fixed;
    top: 50%;
    right: 8%;
    margin-top: -14px;
    z-index: 11;
    cursor: pointer;
    background-color: transparent;
    font-size: 32px;
}

.lightbox__prev {
    right: auto;
    left: 6.5%;
}

.fadeOut {
    opacity: 1;
}


.lightbox__close {
    width: 30px;
    height: 30px;
    color: #901C1C;
    position: fixed;
    top: 20px;
    right: 7.3%;
    font-size: 32px;
    z-index: 14;
}

.lightbox button {
    opacity: .5;
    cursor: pointer;
    transition: opacity .3s;
    z-index: 12;
    border: none;
    background-color: transparent;
}

.lightbox__next:hover,
.lightbox__prev:hover,
.lightbox button:hover {
    opacity: 1;
}

.textLightbox {
    font-size: 24px;
    color: #901C1C;
    width: 100%;
}